
<head>
    <meta charset="UTF-8">
    <title>系统监控</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
{% block content %}
    <h1>{{ city }}系统情况：</h1>
    {% for message in monit %}
        <h3><a href={{ message[0][0] }}><b>{{ message[0][1] }}节点</b></a>:</h3>
        {% for disk_info in message[2] %}
            <p><font color="#000000"><b>磁盘大小</b></font>: {{ disk_info[0] }}, <font color="#000000"><b> &nbsp; &nbsp; &nbsp;已使用率</b></font>: {{ disk_info[1] }}, <font color="#000000"><b> &nbsp; &nbsp;目录</b></font>: {{ disk_info[2] }}</p>
        {% endfor %}
        <p><font color="#000000"><b>负载</b></font>:{{ message[0][2] }}, <font color="#000000"><b>CPU</b></font>: {{ message[0][3] }}, <font color="#000000"><b>Memory</b></font>: {{ message[0][4] }}, <font color="#000000"><b>Swap</b></font>: {{ message[0][5] }}</p>
        {% for message1 in message[1] %}
            {% if message1[1]=='OK' or message1[1]=='Running' %}
                <td><font color="#000000"><b>{{ message1[0] }}</b></font>: <font color="#008000"><b>{{ message1[1] }}.</b>	&nbsp;</font></td>
            {% else %}
                <td><font color="#000000"><b>{{ message1[0] }}</b></font>: <font color="#FF0000"><b>{{ message1[1] }}.</b>	&nbsp;</font></td>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
